.bar {
    width: 3px;
    background-color: #4aaba4;
    position: absolute;
    left: 17.6%;
    transition: top 0.3s, height 0.5s;
    z-index: 5;
}
.horizontal {
    height: 3px;
    transition: left 0.3s;
    top: 15vh;
}
.experienceList {
    font-size: 0.8rem;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    font-family: main-font-bold, Arial, Helvetica, sans-serif;
    padding: 5vw;
}
.experienceList li {
    position: relative;
    left: 0;
    transition: left 1.3s;
    /* padding: 0.8vh 0px !important; */
    padding: 1vw;
    width: 31vw;
    display: inline-block;
    font-size: 1rem
}
.experienceDetails {
    text-align: justify;
    position: relative;
    /* text-align: left; */
    width: 90vw;
    margin: auto;
}

.experienceDetails * {
    font-size: 1rem;
}
.experienceDetails .experienceTitle {
    width: 100%;
    text-align: left;
}
.experienceDetails .experienceFromTo {
    margin: 0px;
    font-style: italic;
}
.experienceDetailsList {
    list-style-type: none;
}
.experienceDetailsList .experienceDetail {
    font-size: 0.9rem;
    padding: 1vh 0px !important;
    margin-left: 5vw;
}
.experienceDetailsList .experienceDetail::before {
    position: relative;
    content: '';
    display: inline-block;
    height: 2.5vw;
    width: 2.5vw;
    transform: rotate(90deg);
    background-image: url('../../static/tri.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: -2.5vw;
    right: 4.9vw;
}
.bold {
    font-family: main-font-bold, Arial, Helvetica, sans-serif;
    color: white;
}
@media all and (min-width: 720px) {
    .experienceList li {
        display: block;
        font-family: main-font, Arial, Helvetica, sans-serif;
        padding: 0.9vh 0;
        width: 20vw;
        font-size: 1.8rem;
        
    }
    .experienceList li::before {
        padding: 0 15px;
        content: "-";
    }
    .experienceList, .experienceDetails {
        display: inline-block;
        vertical-align: top;
    }
    .experienceList li:hover {
        cursor: pointer;
        left: 0.2vw;
    }
    .experienceDetails {
        position: relative;
        top: -5.2vh;
        height: 40vh;
        width: 60vw;
        /* border: 1px solid black; */
    }
    .bold {
        font-size: 1.7rem;
    }
    .experienceDetails .experienceFromTo {
        font-size: 1.1rem;
    }
    .experienceDetailsList .experienceDetail {
        margin-left: 2vw;
        font-size: 1.1rem;
    }
    .experienceDetailsList .experienceDetail::before {
        height: 0.5vw;
        width: 0.5vw;
        bottom: 0.3vh;
        margin-right: -1.5;
        margin-left: 2vw;
        right: 3.9vw;
    }
}