.box .header {
    color: #e2dfe7;
    font-size: 10vw;
    position: relative;
}
.box .subHeader {
    margin-top: 1.5vh;
    color: #cfcbd7;
}
.box p {
    width: 80%;
    margin: 1vh auto auto auto;
    line-height: 7vw;
    text-align: justify;
}
.Typewriter__cursor {
    color: #4aaba4;
    font-family: Arial, Helvetica, sans-serif;
}

.introIcon {
    position: relative;
    width: 10vw;
    margin: 5px;
    border-radius: 10px;
    transition: all 1s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 4px 8px rgba(0, 0, 0, .1);
}

.socialIcon:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1), 0 6px 10px rgba(0, 0, 0, .1);
}

.languageIcon:nth-of-type(1) {
    background-color: white;
    padding-bottom: 0;
}

.linksBox {
    display: flex;
    justify-content: center;
    column-gap: 3rem;
    height: 100px;
    margin: auto;
    margin-top: 25px;
}

@media all and (min-width: 720px) {
    .box {
        top: 30vh;
        left: 15vw;
        text-align: left;
    }
    .box .header {
        font-size: 50pt;
    }
    .box p {
        max-width: 45vw;
        font-size: 1.5vw;
        margin: 1vh 0px 0px 0px;
        line-height: 2vw;
    }

    .introIcon {
        width: 3vw;
        transition: all 1s;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 4px 8px rgba(0, 0, 0, .1);
    }
    
    .socialIcon:hover {
        cursor: pointer;
        transform: translateY(-5px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, .1), 0 6px 10px rgba(0, 0, 0, .1);
    }
    
    .linksBox {
        display: flex;
        justify-content: flex-start;
        column-gap: 5rem;
        height: 100px;
    }
}
