
.subHeader {
    margin-bottom: 2vh;
}
.projectsBox ul {
    list-style-type: none;
}
.projectsBox ul {
    width: 80vw;
    text-align: center;
    margin: 0px auto;
}
.projectsBox ul li {
    padding: 1vh 1vw;
    display: inline-block;
    
}

.projectsBox .ulDetails {
    color: rgb(210, 210, 210);
    text-align: center;
    position: relative;
    font-family: main-font-bold;
    padding: 6vh 5vw;
    filter: brightness(auto);
    transition: filter 0.5s, color 0.3s, background-size 0.5s, background-position 0.5s;
}
.projectsBox .pokedle {
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url(../../static/pokedle.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 30%
}
.projectsBox .mario {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(../../static/mario.jpg);
    background-size: 100%;
    background-position-y: 90%;
    background-repeat: no-repeat;
}
img {
    position: relative;
    float: left;
    width: 20vw;
    border-radius: 5%;
    top: 1vw;
    margin-right: 1vw;
}
.slick-slider {
    width: 100%;
}
.slick-next, .slick-prev {
    z-index: 5;
    padding: 2vw;
}
.projectsBox a {
    text-decoration: none;
}

@media all and (min-width: 720px) {
    .projectsBox {
        margin-top: 10vh;
        /* box-shadow: 0 2px 4px rgba(0, 0, 0, .2), 0 8px 16px rgba(0, 0, 0, .2); */

    }
    .projectsBox .ulDetails {
        line-height: 4vw;
    }

    .projectsBox ul {
        margin: 0px;
        padding: 0px;
        text-align: left;
    }
    .projectsBox .ulDetails {
        margin-top: -10px;
        padding: 7vw;

    }
    .projectsBox ul li:first-of-type {
        padding: 0.1vw;
    }
    .projectsBox a:hover .ulDetails {
        filter: brightness(1.8);
        color: transparent;
    }
    .projectsBox a:hover .mario {
        background-position-y: 99%;
    }
    .projectsBox a:hover .pokedle {
        background-position-y: 35%;
    }
    .slick-list {
        border-radius: 25px !important;
        /* box-shadow: 0 2px 4px rgba(0, 0, 0, .2), 0 8px 16px rgba(0, 0, 0, .2); */
    }
    .slick-slider {
        width: 58vw;
        /* border-radius: 15px; */
    }
    .slick-arrow {
        opacity: 0.5;
        width: 10% !important;
        height: 10% !important;
        filter: brightness(2);
        transition: left 1.5s, opacity 1.5s;
    }
    .slick-next {
        left: 50vw;
        transform: rotate(-90deg) !important;
    }
    .slick-next:hover {
        opacity: 1;
        left: 50.5vw !important;
    }
    .slick-prev {
        left: -2vw !important;
        z-index: 5 !important;
        transform: rotate(90deg) !important;
    }
    .slick-prev:hover {
        opacity: 1;
        left: -2.5vw !important;
    }

}
@media all and (max-width: 719px) {
    .slick-arrow {
        opacity: 0;
    }
    .projectsBox .ulDetails {
        width: 90vw;
        height: 25vh;
        padding: 6vh 5vw;
        padding-top: 12vh;
        padding-bottom: 0;
    }

    .projectsBox .pokedle {
        background: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ), url(../../static/pokedle.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: 50%;
    }

    .projectsBox .mario {
        background-size: cover;
    }
}